.our-mission-sec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .mission{
        // width: 45%;
    }
    .mission-img{
        // width: 45%;
    }
}


.our-vision-sec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .vision{
        // width: 45%;
    }
    .vision-img{
        // width: 45%;
    }
}